
    
          <div class="mat-elevation-z8 demo-table">
            
            <h3 class="text-center mb-4">Application History List</h3>
               <div class="table-responsive">

            <div class="row justify-content-center form-wrap">    
              <div class="col-lg-4 form-cols">
                <input type="text" class="form-control" name="search" placeholder="Enter Company" [(ngModel)]="keyword">
            </div>
            
            <div class="col-lg-3 form-cols" > 
              <div class="default-select" >   
                 <select  name="Job-type" class="common-input mb-20 form-control" [(ngModel)]="keywordJobtitle">
                      <option value="">Select Job Tille</option> 
                     <option *ngFor="let i of DSjobtilte" [value]="i">{{i}}</option>              
                 </select>                   
              </div>     
             </div>

            <div class="col-lg-3 form-cols">
              <div class="default-select" >
                  <select class="common-input mb-20 form-control" name="state" [(ngModel)]="keyworState">
                      <option  value="">Select State</option>
                      <option  value="-1">Decline</option>
                      <option  value="0">Pending</option>
                      <option  value="1">Accept</option>
                  </select>
              </div>
           
          </div>
              <div class="col-lg-2 form-cols">
                <button type="button" class="btn btn-info" (click)="timKiemEnrolment()">
                  <span class="lnr lnr-magnifier" >Search</span>
                </button>
              </div>	
         </div>
                <table class="table table-hover">             
                        <tr>
                            <th scope="col">#</th>
                           
                            <th scope="col">Job Title</th>
                            <th scope="col">Company</th>
                            <th scope="col">State</th>
                            
                        </tr>              
                    <tbody>
                        <tr *ngFor="let i of DSEnrolment; let n = index ">
                            <th scope="row">{{ n + 1 }}</th>
                                     
                            <td>{{i.jobtitle}}</td>
                            <td>{{i.name}}</td>
                            <td>
                             
                              <span *ngIf="i.state === 0" class="badge badge-secondary">Pending</span>
                              <span *ngIf="i.state === 1" class="badge badge-success">Accept</span>
                              <span *ngIf="i.state === -1" class="badge badge-danger">Decline</span>
                       
                          </td>
                        
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
         <!--list-->

<mat-paginator [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of emps">
</mat-paginator>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
