    <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
        <mat-option *ngFor="let i of enrolment" [value]="i.ID">{{i.account}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field style="width: 40%;">
    <mat-label>Search...</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
            
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let i">{{i.ID}}</td>
    </ng-container>
  
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let i">{{i.title}}</td>
    </ng-container>

    <ng-container matColumnDef="min_salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
      <td mat-cell *matCellDef="let i">{{i.min_salary}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell *matCellDef="let i">{{i.name}}</td>
    </ng-container>

    <ng-container matColumnDef="date_expired">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Expired</th>
      <td mat-cell *matCellDef="let i">{{i.date_expired}}</td>
    </ng-container>

    <ng-container matColumnDef="action" class="action" style="margin-left: 100px !important;">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let i"> 
          <!-- <button mat-icon-button color="primary" (click)="openPutJobForm(i)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openJob_ValueForm(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteJob(i)">
              <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="openDetailJobForm(i)">
              <mat-icon>info</mat-icon>
          </button> -->
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>
<mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of emps">
</mat-paginator>
