
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="login.component.css">
    
    <div class="login-container">
      <div class="login-box">
        <h2>LOGIN</h2>
        <form (submit)="onSubmit()">
          <div class="textbox">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="UserName" name="User" [(ngModel)]="account.username" />
          </div>
          <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" [(ngModel)]="account.password"/>
          </div>
        
          <input type="submit" value="LOGIN" />
          <div class="register">
            To Register New Account →
            <a href="">Click Here</a>
          </div>
        </form>
      </div>
    </div>
