<div style="padding: 10px;">
  <div class="thumb">
    <div>
      <img src="{{jobIndex.logo}}" alt="" style="width: 100px; height: 100px; margin-right: 10px; border: 1px solid #e5e5e5; ">
    </div>
    <div>
      <h5>Công việc: {{jobIndex.title}}</h5>
      <h6 style="font-size: medium;">Công ty: {{jobIndex.company_name}}</h6>
    </div>
  </div>
  <h4>Chọn CV để tải lên</h4>

  <!-- Input cho phép người dùng chọn file -->
  <input type="file" (change)="onFileSelected($event)" />

  <!-- Nút để gửi file lên server -->
  <button (click)="apply()">Tải lên</button>
</div>