<section class="banner-area relative" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Job Details				
                </h1>	
                <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="single.html"> Job Details</a></p>
            </div>											
        </div>
    </div>
</section>
<!-- End banner Area -->	
    
<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-10 post-list">
                <div class="single-post d-flex flex-row" style="background-color: #f1f9fc;">
                    <div class="thumb">
                        <img src="{{jobIndex.logo}}" class="logo">
                        
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="single.html"><h4>{{jobIndex.title}}</h4></a>
                                <h6>{{jobIndex.company_name}}</h6>					
                            </div>
                            <ul class="btns" style="margin-right: 10px;">
                                <li style="cursor: pointer;" (click)="applyJob(jobIndex)"><a>Apply</a></li>
                            </ul>
                        </div>
                        <h5 style="font-size: large;">{{jobIndex.job_title}}</h5>
                        <p *ngIf="jobIndex.min_salary != null" class="address"><span class="lnr lnr-database"></span>Salary: {{jobIndex.min_salary}}$ - {{jobIndex.max_salary}}$</p>
                        <p *ngIf="jobIndex.min_exp != null" class="address"><span class="lnr lnr-map"></span>Experience: {{jobIndex.min_exp}} - {{jobIndex.max_exp}} Years of Experience</p>
                        <p class="address"><span class="fa fa-calendar-o"></span>Date Expired: {{jobIndex.date_expired | date: 'dd-MM-yyyy'}}</p>
                    </div>
                </div>														
            </div>

            <div class="col-lg-12 post-list">
                <div class="single-post job-experience">
                    <h4 class="single-title">Infomations</h4>
                    <ul>
                        <li>
                            <img src="./assets/img/pages/list.jpg" alt="">
                            <span><b><i> Description:</i></b> {{jobIndex.job_des}}</span>
                        </li>
                        <li>
                            <img src="./assets/img/pages/list.jpg" alt="">
                            <span><b><i> Requirement:</i></b> {{jobIndex.job_req}}</span>
                        </li>
                        <li>
                            <img src="./assets/img/pages/list.jpg" alt="">
                            <span><b><i> Welfare:</i></b> {{jobIndex.welfare}}</span>
                        </li>
                        <li>
                            <img src="./assets/img/pages/list.jpg" alt="">
                            <span><b><i> Address:</i></b> {{jobIndex.address}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 post-list">
                <div class="single-post job-experience">
                    <h4 class="single-title">Conpany Infomations</h4>
                    <ul>
                        <li>
                            <img src="./assets/img/pages/list.jpg" alt="">
                            <span><b><i>Headquarter:</i></b> {{jobIndex.address1}}</span>
                        </li>
                        <li>
                            <img src="./assets/img/pages/list.jpg" alt="">
                            <span><b><i> Company Link:</i></b> <a href="{{jobIndex.link}}"> {{jobIndex.link}}</a></span>
                        </li>
                        <li>
                            <img src="./assets/img/pages/list.jpg" alt="">
                            <span><b><i> Extent:</i></b> About {{jobIndex.extent}} members</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- End post Area -->







