.row.d-flex {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
}

.btns {
    position: absolute;
  top: 10px; /* điều chỉnh khoảng cách từ trên */
  right: 10px; /* điều chỉnh khoảng cách từ phải */
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}   

.logo {
  width: 100px; 
  height: 100px; 
  margin-right: 10px; 
  border: 1px solid #e5e5e5;
  object-fit: scale-down;
}