.btns {
    position: absolute;
  top: 10px; /* điều chỉnh khoảng cách từ trên */
  right: 10px; /* điều chỉnh khoảng cách từ phải */
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.single-post {
  background-color: #f1f9fc; 
  cursor: pointer; position: relative;
}