<div class="parent">
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
        <div class="form-container sign-up">
            <form (ngSubmit)="post()">
                <h3>Company informations</h3>

                <input type="text" name="company_name" placeholder="Company Name" [(ngModel)]="company.company_name">

                <input type="text" name="link" placeholder="Link" [(ngModel)]="company.link">

                <input type="text" name="address" placeholder="Address" [(ngModel)]="company.address">

                <input type="number" name="extent" placeholder="Extent" [(ngModel)]="company.extent">

                <input type="file" name="file" (change)="onFileSelected($event)">

                <button type="submit">Submit</button>
            </form>

        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h3>Enter your company informations</h3>
                </div>
            </div>
        </div>
    </div>
</div>