<!-- start banner Area -->
<section class="banner-area relative" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <!-- <div class="row search-page-top d-flex align-items-center justify-content-center"> -->
            <div class="banner-content col-lg-12">
                <div >
                    <br><br><br><br><br><br><br>
                </div>
                <h1 class="text-white">
                   Job Category 
                </h1>
                	
                <form action="#" class="serach-form-area">
                    <div class="row justify-content-center form-wrap">
                        <div class="col-lg-4 form-cols">
                            <input type="text" class="form-control" name="jobSearch" placeholder="Enter the job you want to find" [(ngModel)]="keyword">
                        </div>

                        <div class="col-lg-3 form-cols" > 
                            <div class="default-select">   
                                <select  name="address" [(ngModel)]="keywordaddress"  class="common-input mb-20 form-control" >
                                     <option value="">Select location</option> 
                                    <option *ngFor="let i of DSDiaChi" [value]="i">{{i}}</option>
                                
                                </select>
                             </div> 
                         </div>

                         <div class="col-lg-3 form-cols" > 
                            <div class="default-select">   
                                <select  name="Company" [(ngModel)]="keywordCompany"  class="common-input mb-20 form-control" >
                                     <option value="">Select Company</option> 
                                    <option *ngFor="let i of DSTenCongTy" [value]="i">{{i}}</option>
                                
                                </select>
                             </div> 
                        </div>
                       <div class="col-lg-2 form-cols"> 
                            <button type="button" class="btn btn-info" (click)="timKiemJob()"> Search  </button>
                         </div>			
                          <!-- Thêm đoạn này để hiển thị thông báo -->
                            <p *ngIf="message" class="text-white">{{ message }}</p>			
                            		
                    </div>
               </form>	

           
               <!-- lua Job chon -->   
            <div class="row justify-content-center form-wrap">        
               <div class="col-lg-3 form-cols" > 
                 <div class="default-select" >   
                    <select  name="Job-type" class="common-input mb-20 form-control" [(ngModel)]="keywordJobtype" (change)="ChonJobType()">
                         <option value="">Select Job type</option> 
                        <option *ngFor="let i of DSDLJobType" [value]="i">{{i}}</option>              
                    </select>                   
                 </div>     
                </div>
          
                <div class="col-lg-3 form-cols" > 
                    <div class="default-select" >   
                       <select  name="salary" class="common-input mb-20 form-control"  [(ngModel)]="keywordSalary" (change)="ChonSalary()">
                            <option value="">Select salary</option > 
                            <option value="0-100">0$ -> 100$</option>
                            <option value="100-400">100$ -> 400$</option>
                            <option value="400-800">400$ -> 800$</option>       
                            <option value="800-1000">800$ -> 1000$</option> 
                            <option value="1000-1500">1000$ -> 1500$</option> 
                            <option value="1500-2000">1500$ -> 2000$</option>    
                            <option value="2000-more">2000$ or more</option>     
                       </select>                   
                    </div>     
                   </div>

                   <div class="col-lg-3 form-cols" > 
                    <div class="default-select" >   
                       <select  name="salary" class="common-input mb-20 form-control"  [(ngModel)]="keywordEXP" (change)="ChonEXP()">
                            <option value="">Select years of exp</option >
                            <option value="0">no experience yet</option>  
                            <option value="1-2">1 - 2 years</option>
                            <option value="2-3">2 - 3 years</option>       
                            <option value="3-4">3 - 4 years</option> 
                            <option value="4-5">4 - 5 years</option>  
                            <option value="5-more">5 years or more</option>     
                       </select>                   
                    </div>     
                   </div>

                   <div class="col-lg-3 form-cols" > 
                    <div class="default-select" >   
                       <select  name="Job-type" class="common-input mb-20 form-control" [(ngModel)]="keywordjobtitle" (change)="Chonjobtitle()">
                            <option value="">Select job title</option> 
                           <option *ngFor="let i of DSDLjobtitle" [value]="i">{{i}}</option>              
                       </select>                   
                    </div>     
                   </div>
                   
            </div>
                
                <!-- lua Job chon  -->



                

            </div>											
        <!-- </div> -->
    </div>
</section>
<!-- End banner Area -->		

 <!-- Start post Area -->
<section class="post-area section-gap" >
    <div class="container">
        <div class="row justify-content-center d-flex">
            <!-- bảng job -->
            <div class="col-lg-8 post-list" >
                <div class="single-post d-flex flex-row" *ngFor="let i of DSJob">
                    <div class="thumb" >
                        <img [src]="imageUrl" alt="Logo" class="common-input mb-20 form-control" width="50" height="100px"  >
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href=""><h4>{{i.title}}</h4></a>
                                <h6>{{i.CompanyName}}</h6>					
                            </div>
                            <ul class="btns">
                                <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>
                           {{i.JobDescription}}
                        </p>
                         <h5>{{i.JobTitleDescription}}</h5>
                        <p class="address">
                            <span class="lnr lnr-database"></span> {{i.MinSalary}}$ - {{i.MaxSalary}}$ 
                            <span class="lnr lnr-map" style="margin-left: 50px;"></span> {{i.address}}
                        </p>
                        <!-- <p class="address" style="display: inline-block;">
                            <span class="lnr lnr-database"></span>{{i.MinSalary}}$ - {{i.MaxSalary}}$ 
                           
                        </p> -->
                    
                    </div>
                </div>		
            </div>








            <!-- bảng job -->
            <div class="col-lg-4 sidebar">
                <div class="single-slidebar">
                    <h4>Jobs by Location</h4>
                    <ul class="cat-list">
                        <li><a class="justify-content-between d-flex" href="#"><p>New York</p><span>37</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Park Montana</p><span>57</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Atlanta</p><span>33</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Arizona</p><span>36</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Florida</p><span>47</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Rocky Beach</p><span>27</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Chicago</p><span>17</span></a></li>
                    </ul>
                </div>
               						
                <div class="single-slidebar">
                    <h4>Jobs by Category</h4>
                    <ul class="cat-list">
                        <li><a class="justify-content-between d-flex" href="#"><p>Technology</p><span>37</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Media & News</p><span>57</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Goverment</p><span>33</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Medical</p><span>36</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Restaurants</p><span>47</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Developer</p><span>27</span></a></li>
                        <li><a class="justify-content-between d-flex" href="#"><p>Accounting</p><span>17</span></a></li>
                    </ul>
                </div>
              					
            </div>
        </div>
    </div>	
</section> 
<!-- End post Area -->

