<!-- start banner Area -->
<section class="banner-area relative" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    About us				
                </h1>	
                <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about-us.html"> About us</a></p>
            </div>													
        </div>
    </div>
</section>
<!-- End banner Area -->	

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <h1>Tại Sao Chọn Chúng Tôi</h1>
                <p>
                    Chúng tôi cam kết mang đến cho bạn một nền tảng tuyển dụng chuyên nghiệp và dễ sử dụng.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-user"></span>Chuyên Gia Kỹ Thuật</h4>
                    <p>
                        Chúng tôi sử dụng công nghệ hiện đại để đảm bảo quy trình tuyển dụng nhanh chóng và chính xác.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-license"></span>Dịch Vụ Chuyên Nghiệp</h4>
                    <p>
                        Hệ thống của chúng tôi được thiết kế để giúp ứng viên và nhà tuyển dụng kết nối dễ dàng và nhanh chóng.
                    </p>								
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-phone"></span>Hỗ Trợ Tuyệt Vời</h4>
                    <p>
                        Đội ngũ hỗ trợ luôn sẵn sàng giúp bạn giải quyết mọi thắc mắc trong quá trình ứng tuyển hoặc đăng tuyển.
                    </p>								
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-rocket"></span>Kỹ Năng Chuyên Môn</h4>
                    <p>
                        Chúng tôi liên tục nâng cao kỹ năng và công nghệ để mang lại cho bạn một trải nghiệm tuyển dụng vượt trội.
                    </p>				
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-diamond"></span>Được Đề Xuất Cao</h4>
                    <p>
                        Hệ thống của chúng tôi được nhiều nhà tuyển dụng và ứng viên tin tưởng và sử dụng thường xuyên.
                    </p>								
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-bubble"></span>Đánh Giá Tích Cực</h4>
                    <p>
                        Chúng tôi luôn nhận được những đánh giá tích cực từ cả ứng viên và nhà tuyển dụng về chất lượng dịch vụ.
                    </p>									 
                </div>
            </div>						
        </div>
    </div>	
</section>
<!-- End service Area -->						

<!-- Start team Area -->
<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Đội Ngũ Cố Vấn Kinh Nghiệm</h1>
                    <p>Chúng tôi là những người đam mê và luôn tận tâm với công việc tuyển dụng.</p>
                </div>
            </div>
        </div>						
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="./assets/img/pages/t1.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Thiều Quang Thắng</h4>
                    <p>Giám Đốc</p>									    	
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="./assets/img/pages/t2.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Nguyễn Nhật Huy</h4><br><p></p>
                    <p>Cộng Tác Viên</p>			    	
                </div>
            </div>            
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="./assets/img/pages/t3.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Nguyễn Trần Hoàng Hiệp</h4>
                    <p>Cộng Tác Viên</p>			    	
                </div>
            </div>	
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="./assets/img/pages/t4.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Nguyễn Duy Thanh</h4>
                    <p>Cộng Tác Viên</p>			    	
                </div>
            </div>																										
        </div>
    </div>	
</section>
<!-- End team Area -->
